{% extends 'base.html' %}

{% block title %}
    posts
{% endblock title %}

{% block content %}
<div class="ui grid">
   <div class="ui row">
       <div class="eleven wide column">
          {% for post in qs %}
            <div class="ui fluid card">
                <div class="content">
                    {{post.content}}
                </div>
                <div class="content">
                    <form action="{% url 'posts:like-post-view' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{post.id}}>
                        <button type="submit" class="ui primary button">
                            {% if profile not in post.liked.all %}
                                <i class="thumbs up icon"></i>&nbsp;Like
                            {% else %}
                                <i class="thumbs up icon"></i>&nbsp;Unlike
                            {% endif %}
                        </button>
                        &nbsp;{{post.num_likes}}
                    </form>
                </div>
            </div>
          {% endfor %}
       </div>
       <div class="five wide column">
            Form
       </div>
   </div>
</div>
{% endblock content %}